@import '~@angular/material/theming';

@include mat-core();

/*#6CBAD9 #517C8C #A3C9D9 #F2DFCE #BFB6B0*/
$custom-primary: mat-palette($mat-cyan, 500); /* 500是預設值，也可以忽略 */
$custom-accent: mat-palette($mat-teal, 700);
$custom-warn: mat-palette($mat-deep-orange);

$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);

@include angular-material-theme($custom-theme);

/* You can add global styles to this file, and also import other style files */
h1,h2,h3,h4,h5,h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

body{
  margin: 0;
  font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
}
/*1. #6CBAD9 #517C8C #A3C9D9 #F2DFCE #BFB6B0*/
/*2. #D19E5F #91422D #E3DB8E #7BC1F2 #406BB8*/
$color-primary: #D19E5F;
$color-secondary: #91422D;
$color-tertiary: #E3DB8E;
$color-success: #7BC1F2;
$color-warning: #406BB8;

.secondary-background{
  background-color: $color-secondary
}
.primary-background{
  background-color: $color-primary
}
.tertiary-background{
  background-color: $color-tertiary
}
.success-background{
  background-color: $color-success
}
.warning-background{
  background-color: $color-warning
}

.secondary-font{
  color: $color-secondary
}
.primary-font{
  color: $color-primary
}
.tertiary-font{
  color: $color-tertiary
}
.success-font{
  color: $color-success
}
.warning-font{
  color: $color-warning
}
.white-font{
  color:white
}
.mat-checkbox-layout{
  margin-bottom: 0;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $color-secondary;
}
.mat-select-arrow-wrapper{
  color: $color-secondary;
}
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: $color-secondary;
}

.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: $color-secondary !important;
 }

 .mat-form-field-underline {
  /*change color of underline*/
  background-color: $color-secondary !important;
}

.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: $color-secondary !important;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: $color-secondary !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $color-secondary !important;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: $color-secondary !important;
}
