<h1 mat-dialog-title class="mat-dialog-title primary-background">新增任務</h1>
<div mat-dialog-content class="mission-content">
  <h3>任務類型與標籤</h3>
  <app-select-mission-label (selectMissionLabelEvent)="getSelectMissionLabelId($event)" ></app-select-mission-label>
  <h3>起始單位</h3>
  <app-select-department [selectBuildingId]="selectStartBuildingId" [selectDepartmentId]="selectStartDepartmentId" (selectDepartmentEvent)="getSelectStartDepartmentId($event)"></app-select-department>
  <h3>送往單位</h3>
  <app-select-department [selectBuildingId]="selectEndBuildingId" [selectDepartmentId]="selectEndDepartmentId" (selectDepartmentEvent)="getSelectEndDepartmentId($event)"></app-select-department>
  <h3>運送工具</h3>
  <mat-radio-group aria-labelledby="example-radio-group-label" class="text example-radio-group"
    [(ngModel)]="selectMissionInstrumentId">
    <mat-radio-button class="example-radio-button" *ngFor="let instrument of missionInstrumentList"
      [value]="instrument.id">
      {{instrument.name}}
    </mat-radio-button>
  </mat-radio-group>
  <mat-form-field class="example-full-width">
    <mat-label>備註</mat-label>
    <textarea matInput placeholder="" [(ngModel)]="missionContent"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button class="button primary-background" (click)="addMission()">確定</button>
  <button mat-button mat-dialog-close class="button tertiary-background">取消</button>
</div>
