<h1 mat-dialog-title class="mat-dialog-title dark-color">新增任務</h1>
<div mat-dialog-content class="mission-content">
  <div class="text">任務類型: <input type="box"></div>
  <div class="text">起始單位: <input type="box"></div>
  <div class="text">送往單位: <input type="box"></div>
  <div class="text">輔助工具:
    <mat-radio-group aria-labelledby="example-radio-group-label" class="text example-radio-group"
      [(ngModel)]="favoriteSeason">
      <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
        {{season}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="text">任務內容：</div>
  <div class="text"><textarea rows=6 cols=40></textarea></div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close class="button dark-color" (click)="addMission()">確定</button>
  <button mat-button mat-dialog-close class="button light-color">取消</button>
</div>
