<h1 mat-dialog-title class="mat-dialog-title dark-color">新增任務類型</h1>
<div mat-dialog-content class="mission-type-content">
  <div class="text">任務類型: <input type="box"></div>
  <div class="text">任務名稱: <input type="box"></div>
  <div class="text">運送類型:
    <mat-radio-group aria-labelledby="example-radio-group-label" class="text example-radio-group" [(ngModel)]="class">
      <mat-radio-button class="example-radio-button" *ngFor="let tool of classes" [value]="tool">
        {{tool}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close class="button dark-color" (click)="addMissionType()">確定</button>
  <button mat-button mat-dialog-close class="button light-color">取消</button>
</div>
