<h1 mat-dialog-title class="mat-dialog-title dark-color">新增任務標籤</h1>
<div mat-dialog-content class="mission-type-content">
  <div>
    <app-select-mission-type (selectMissionTypeEvent)="getSelectMissionTypeId($event)"></app-select-mission-type>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label class="darker-font">任務標籤名稱</mat-label>
      <input class="dark-font dark-color" matInput [(ngModel)]="missionLabelName" [ngModelOptions]="{standalone:true}"
        required>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close class="button dark-color" (click)="addMissionType()">確定</button>
  <button mat-button mat-dialog-close class="button light-color">取消</button>
</div>
