<div class="setting-article">
  <div class="article-left">
    <container [ngSwitch]="settingSwitch">
      <ng-container *ngSwitchCase="0">
        <app-homepage-setting-information></app-homepage-setting-information>
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <app-homepage-setting-department></app-homepage-setting-department>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <app-homepage-setting-mission-type></app-homepage-setting-mission-type>
      </ng-container>
    </container>
  </div>
  <div class="article-right tertiary-background">
    <div class="button-container">
      <button mat-flat-button class="button department-setting primary-background" (click)="switchSetting(0)">基本資料</button>
      <button mat-flat-button class="button department-setting primary-background" (click)="switchSetting(1)">請求單位</button>
      <button mat-flat-button class="button mission-type-setting primary-background" (click)="switchSetting(2)">任務標籤</button>
      <button mat-flat-button class="button logout secondary-background" (click)="logoutDialog()">登出</button>
    </div>
  </div>
</div>
