<div class="progess">
  <h3 class=mission-data-title>{{missionData.type}}</h3>
  <h3 class=mission-data-title>{{missionData.content}}</h3>
  <h4 class="staff-text">交接人員 {{missionData.staff}}</h4>
  <div class="progress-img">
    <span class="circle">
      <div>新增</div>
    </span>
    <span class="rectangle"></span>
    <span class="circle">
      <div>派遣</div>
    </span>
    <span class="rectangle"></span>
    <span class="circle">
      <div>開始</div>
    </span>
    <span class="rectangle"></span>
    <span class="circle">
      <div>完成</div>
    </span>
  </div>
  <div class="progress-content">
    <span class="progress-text">{{missionData.add_time}}</span>
    <span class="progress-text">{{missionData.dispatch_time}}</span>
    <span class="progress-text">{{missionData.start_time}}</span>
    <span class="progress-text">{{missionData.finish_time}}</span>
  </div>
  <div class="progress-content">
    <span class="progress-text">{{missionData.add_department}}</span>
    <span class="progress-text">{{missionData.dispatch}}</span>
    <span class="progress-text">{{missionData.start_department}}</span>
    <span class="progress-text">{{missionData.end_department}}</span>
  </div>
</div>
