.progress-content{
  display: flex;
  align-items:center;
  justify-content:center;
  margin: 5px 30px;
}
.mission-data-title{
  font-size:xx-large;
  font-weight:bold;
  display: inline-block;
  margin: 10px;
}
.progress-text{
  text-align:center;
  width:20%;
  font-weight:bold;
  font-size:large;
}

.circle{
    position: relative;
    display: inline-block;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}

.circle>div {
    position: absolute;
    font-size:large;
    font-weight:bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.rectangle{
  display: inline-block;
  position: relative;
  width: 15%;
  height: 1rem;
  border-radius: 50px;

}
.rectangle-1{
  background:linear-gradient(90deg,#55271a, #91422D);
}
.rectangle-2{
  background:linear-gradient(90deg,#91422D, #D19E5F);
}
.rectangle-3{
  background:linear-gradient(90deg,#D19E5F, #E3DB8E);
}
.circle-1{
  background-color:#55271a;
  color:white;
}
.circle-2{
  background-color:#91422D;
  color:white;
}
.circle-3{
  background-color:#D19E5F;
  color:#55271a;
}
.circle-4{
  background-color:#E3DB8E;
  color:#55271a;
}
.progress-img{
  display: flex;
  align-items: center;
  justify-content:center;
}
