<div class="progess">
  <div *ngIf="missionData == null">
    <h3 class=mission-data-title></h3>
    <h3 class=mission-data-title></h3>
  </div>
  <div *ngIf="missionData">
    <h3 class="mission-data-title secondary-font">{{missionData.label.name}}</h3>
    <h3 class="mission-data-title secondary-font">{{missionData.content}}</h3>
  </div>
  <div class="progress-img">
    <span class="circle secondary-background">
      <div class="white-font">新增</div>
    </span>
    <span class="rectangle secondary-background"></span>
    <span class="circle secondary-background">
      <div class="white-font">派遣</div>
    </span>
    <span class="rectangle secondary-background"></span>
    <span class="circle secondary-background">
      <div class="white-font">開始</div>
    </span>
    <span class="rectangle secondary-background"></span>
    <span class="circle secondary-background">
      <div class="white-font">完成</div>
    </span>
  </div>
  <div class="progress-content secondary-font">
    <span class="progress-text">
      {{addTime|date: 'yyyy/MM/dd hh:mm:ss'}}
    </span>
    <span class="progress-text">
      {{startTime|date: 'yyyy/MM/dd hh:mm:ss'}}
    </span>
    <span class="progress-text">
      {{processTime|date: 'yyyy/MM/dd hh:mm:ss'}}
    </span>
    <span class="progress-text">
      {{finishTime|date: 'yyyy/MM/dd hh:mm:ss'}}
    </span>
  </div>
  <div class="progress-content secondary-font">
    <span class="progress-text">
      {{addHandOver}}
    </span>
    <span class="progress-text">
      {{startHandOver}}
    </span>
    <span class="progress-text">
      {{processHandOver}}
    </span>
    <span class="progress-text">
      {{finishHandOver}}
    </span>
  </div>
</div>
