<div class="progess" *ngIf="missionData">
  <div>
    <h3 class="mission-data-title white-font">{{missionData.label.name}}</h3>
    <h3 class="mission-data-title white-font">{{missionData.content}}</h3>
  </div>
  <div class="progress-img">
    <span class="circle circle-1 secondary-background">
      <div class="circle-font">新增<br>時間</div>
    </span>
    <span class="rectangle rectangle-1 secondary-background"></span>
    <span class="circle circle-2 secondary-background">
      <div class="circle-font">派遣<br>時間</div>
    </span>
    <span class="rectangle rectangle-2 secondary-background"></span>
    <span class="circle circle-3 secondary-background">
      <div class="circle-font">開始<br>時間</div>
    </span>
    <span class="rectangle rectangle-3 secondary-background"></span>
    <span class="circle circle-4 secondary-background">
      <div class="circle-font">完成<br>時間</div>
    </span>
  </div>
  <div class="progress-content secondary-font">
    <span class="progress-text">
      {{addTime|date: 'yyyy/MM/dd hh:mm:ss'}}
    </span>
    <span class="progress-text">
      {{startTime|date: 'yyyy/MM/dd hh:mm:ss'}}
    </span>
    <span class="progress-text">
      {{processTime|date: 'yyyy/MM/dd hh:mm:ss'}}
    </span>
    <span class="progress-text">
      {{finishTime|date: 'yyyy/MM/dd hh:mm:ss'}}
    </span>
  </div>
  <div class="progress-content secondary-font">
    <span class="progress-text">
      {{addHandOver}}
    </span>
    <span class="progress-text">
      {{startHandOver}}
    </span>
    <span class="progress-text">
      {{processHandOver}}
    </span>
    <span class="progress-text">
      {{finishHandOver}}
    </span>
  </div>
</div>
