.progress-content{
  display: flex;
  align-items:center;
  justify-content:center;
  margin: 5px 30px;
}
.mission-data-title{
  color:#007C84;
  font-size:xx-large;
  font-weight:bold;
  display: inline-block;
  margin: 20px;
}
.progress-text{
  color:#FFFFFF;
  text-align:center;
  width:20%;
}

.staff-text{
  display: inline-block;
  color:#FFFFFF;
  font-size:large;
  text-align:center;
}

.circle{
    position: relative;
    display: inline-block;
    width: 4vw;
    height: 4vw;
    background-color: #007B6D;
    border-radius: 50%;
}

.circle>div {
    position: absolute;
    color: white;
    font-size:large;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.rectangle{
  display: inline-block;
  position: relative;
  width: 15%;
  height: 1rem;
  background-color: #007B6D;
  border-radius: 50px;
}
.progress-img{
  display: flex;
  align-items: center;
  justify-content:center;
}
