<div class="container" [style.height]="height+'px'" [style.width]="width+'px'">
  <img class="logo" src='/assets/img/logo.png'>
  <span class="box darker-color">
    <h1 class="system-title">傳送員管理系統</h1>
    <input class="inputbox" type="text" placeholder="帳號" (keyup)="getAccount($event)">
    <input class="inputbox" type="password" placeholder="密碼" (keyup)="getPassword($event)">
    <span class="hint">{{hint}}</span>
    <button mat-flat-button class="button lighter-color" (click)="login()">登入</button>
  </span>
</div>
