.box{
  width: 30vw;
  height: 50vh;
  border-radius: 10px;
  color:white;
  text-align: center;
  display: flex;
  flex-direction :column;
  align-items: center;
  justify-content: center;
  box-shadow:3px 3px 5px 6px #91422D
}

.logo{
  width: 40vh;

}
.container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background:linear-gradient(#91422D, #D19E5F);
}
.system-title{
  margin:5vh;
  font-size:3vw;
  font-weight:bold;
}
.inputbox{
  margin:1vh;
  width: 20vw;
  height:8vh;
  font-size:2vw;
}
.button{
  margin: 1vh;
  border-radius: 50px;
  border: 0px;
  outline: none;
  cursor: pointer;
  font-weight:bold;
  width: 10vw;
  height:5vh;
  font-size:1.5vw;
}

.hint{
  color:#B2E0DC
}
