.box{
  width: 30%;
  height: 30%;
  border-radius: 10px;
  color:white;
  text-align: center;
  display: flex;
  flex-direction :column;
  align-items: center;
  justify-content: center;
  box-shadow:3px 3px 5px 6px #91422D
}

.logo{
  width: 300px;

}
.container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background:linear-gradient(#91422D, #D19E5F);
}
.system-title{
  margin:20px;
  font-size:xx-large;
  font-weight:bold;
}
.inputbox{
  margin:10px;
}
.button{
  margin: 10px;
  border-radius: 50px;
  border: 0px;
  outline: none;
  cursor: pointer;
    font-weight:bold;
}

.hint{
  color:#B2E0DC
}
