<div class="container background" [style.height]="height+'px'" [style.width]="width+'px'">
  <img class="logo" src='assets/img/logo1.png'>
  <span class="box tertiary-background">
    <h1 class="system-title secondary-font">傳送員管理系統</h1>
    <input class="inputbox" type="text" placeholder="帳號" [(ngModel)]="account">
    <input class="inputbox" type="password" placeholder="密碼" [(ngModel)]="password">
    <button mat-flat-button class="button secondary-background white-font" (click)="login()">登入</button>
  </span>
</div>
