<div class="mission-article" [style.height]="articleHeight+'px'">
  <div class="article-left">
    <div class="function-bar">
      <span class="checkbox-container">
        <mat-checkbox class="mission-status-checkbox" [checked]="allComplete" [indeterminate]="someComplete()"
          (change)="setAll($event.checked)">
          {{task.name}}
        </mat-checkbox>
        <span class="mission-status-checkbox" *ngFor="let subtask of task.subtasks">
          <mat-checkbox [(ngModel)]="subtask.completed" (ngModelChange)="updateAllComplete()">
            {{subtask.name}}
          </mat-checkbox>
        </span>
      </span>
      <span class="function-button-container">
        <button class="function-button update-list-button">更新列表</button>
        <button class="function-button manual-dispatch-button">指定人員</button>
        <button class="function-button auto-dispatch-button">自動派遣</button>
        <app-modal-add-mission></app-modal-add-mission>
      </span>
    </div>

    <div class="mission-list">
      <div class="mission-list-header light-color">
        <span class="start-time-title">新增時間</span>
        <span class="mission-status-title">任務狀態</span>
        <span class="mission-type-title">任務類型</span>
        <span class="start-department-title">起始單位</span>
        <span class="finish-department-title">送往單位</span>
        <span class="porter-title">傳送員</span>
      </div>
      <div class="mission-list-content">
        <div class="list-content" id="mission_{{idx}}" *ngFor="let item of mission_list_filter; let idx = index"
          (mouseenter)="getConsoleline($event)">
          <mat-checkbox></mat-checkbox>
          <span class="start-time-title">{{item.add_time}}</span>
          <span class="mission-status-title">{{item.status|missionStatus}}</span>
          <span class="mission-type-title">{{item.type}}</span>
          <span class="start-department-title">{{item.start}}</span>
          <span class="finish-department-title">{{item.end}}</span>
          <span class="porter-title">{{item.porter}}</span>
        </div>
      </div>
    </div>
    <div class="mission-data light-color">
      <div class="mission-data-content">
        <h3 class=mission-data-title>{{mission_1_data.type}}</h3>
        <h3 class=mission-data-title>{{mission_1_data.content}}</h3>
        <h4 class="staff-text">交接人員 {{mission_1_data.staff}}</h4>
        <div>
          <span>
            <img class="progress-img progress-content" src='/assets/img/progress.png'>
            <div class="progress-content">
              <span class="progress-text">{{mission_1_data.add_time}}</span>
              <span class="progress-text">{{mission_1_data.dispatch_time}}</span>
              <span class="progress-text">{{mission_1_data.start_time}}</span>
              <span class="progress-text">{{mission_1_data.finish_time}}</span>
            </div>
            <div class="progress-content">
              <span class="progress-text">{{mission_1_data.add_department}}</span>
              <span class="progress-text">{{mission_1_data.dispatch}}</span>
              <span class="progress-text">{{mission_1_data.start_department}}</span>
              <span class="progress-text">{{mission_1_data.end_department}}</span>
            </div>

          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="article-right lighter-color">
  </div>
</div>
