<div class="mission-article" [style.height]="articleHeight+'px'">
  <div class="article-left">
    <div class="function-bar">
      <span class="checkbox-container">
        <app-homepage-mission-checkbox (returnListEvent)="getCheckboxList($event)"></app-homepage-mission-checkbox>
      </span>
      <span class="function-button-container">
        <button mat-flat-button class="function-button update-list-button darker-color"
          (click)="updateMissionList()">更新列表</button>
        <app-modal-manual-dispatch *ngIf="isPorterCenter" class="function-button"></app-modal-manual-dispatch>
        <app-modal-auto-dispatch *ngIf="isPorterCenter" class="function-button"></app-modal-auto-dispatch>
        <button mat-flat-button class="function-button add-mission-button" (click)="addMissionDialog()">新增任務</button>
      </span>
    </div>

    <div class="mission-list">
      <app-homepage-mission-list [missionList]="missionListFilter" (mouseEnterEvent)="getMissionData($event)"
        (mouseLeaveEvent)="mouseIsLeave($event)" (checkMissionIDListEvent)="getCheckMissionList($event)"></app-homepage-mission-list>
    </div>
    <div class="mission-data light-color">
      <app-homepage-mission-data *ngIf="!isMouseLeave" [missionData]="missionData"></app-homepage-mission-data>
    </div>
  </div>
</div>
