<h1 mat-dialog-title class="mat-dialog-title dark-color">新增單位</h1>
<div mat-dialog-content class="mission-content">
  <app-select-building class="content" (selectBuildingEvent)="getSelectBuildingId($event)"></app-select-building>
  <mat-form-field  class="content" appearance="fill">
    <mat-label>樓層</mat-label>
    <mat-select class="border" [(ngModel)]="selectFloorId" [ngModelOptions]="{standalone: true}">
      <mat-option *ngFor="let item of floorList" [value]="item">{{item}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label class="darker-font">單位名稱</mat-label>
    <input class="dark-font dark-color" matInput [(ngModel)]="departmentName" [ngModelOptions]="{standalone:true}"
      required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button class="button dark-color" (click)="addDepartment()">確定</button>
  <button mat-button mat-dialog-close class="button light-color">取消</button>
</div>
