<h1 mat-dialog-title class="mat-dialog-title dark-color">修改任務標籤</h1>
<div mat-dialog-content class="mission-type-content">
  <app-select-mission-type [selectMissionTypeId]="missionLabelData.type.id"
    (selectMissionTypeEvent)="getSelectMissionTypeChange($event)"></app-select-mission-type>
  <mat-form-field class="example-full-width content">
    <mat-label class="darker-font">單位名稱</mat-label>
    <input class="dark-font dark-color" matInput [(ngModel)]="missionLabelData.name"
      [ngModelOptions]="{standalone:true}" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <!---<button mat-button class="button delete-mission-type-button" (click)="deleteMissionTypeDialog()">刪除</button>--->
  <button mat-button class="button update-department-button dark-color" (click)="updateMissionLabel()">修改</button>
  <button mat-button mat-dialog-close class="button light-color">關閉</button>
</div>
