<div class="list-content" id="mission_{{idx}}" *ngFor="let item of mission_list; let idx = index"
  (mouseenter)="getMouseEnter($event)" (mouseleave)="getMouseLeave($event)">
  <mat-checkbox class="checkbox"></mat-checkbox>
  <span class="start-time">{{item.add_time}}</span>
  <span class="mission-status mission-status-1" *ngIf="item.status == 1">{{item.status|missionStatus}}</span>
  <span class="mission-status mission-status-2" *ngIf="item.status == 2">{{item.status|missionStatus}}</span>
  <span class="mission-status mission-status-3" *ngIf="item.status == 3">{{item.status|missionStatus}}</span>
  <span class="mission-status mission-status-4" *ngIf="item.status == 4">{{item.status|missionStatus}}</span>
  <span class="mission-type">{{item.type}}</span>
  <span class="start-department">{{item.start}}</span>
  <span class="finish-department">{{item.end}}</span>
  <span class="porter" *ngIf="item.status != 1">{{item.porter}}</span>
  <span class="porter" *ngIf="item.status == 1 && isPorterCenter">
    <app-modal-manual-dispatch></app-modal-manual-dispatch>
    <app-modal-auto-dispatch></app-modal-auto-dispatch>
  </span>
  <span class="porter" *ngIf="item.status == 1 && !isPorterCenter">{{item.porter}}</span>
  <span class="porter-position">{{item.position}}</span>
</div>
