.mission-list-content{
  display:flex;
  align-items:center;
  padding: 15px;
  border: 1px solid #707070;
  font-size: 18px;
}

.mission-list-title{
  height:5%;
  display:flex;
  align-items:center;
  border: 1px solid #707070;
  padding-left: 15px;
  padding-right: 30px;
}

.mission-list{
  height:95%;
  overflow-y:scroll;
}
.mission-list-content:hover{
  cursor: pointer;
  background-color :#F2DFCE;
  color:#517C8C;
  font-weight:bold;
}

.start-time{
  text-align:center;
  width:10%;
}
.mission-status{
  text-align:center;
  width:10%;
  padding:5px;
}

.mission-type{
  text-align:center;
  width:20%;
}
.start-department{
  text-align:center;
  width:15%;
}
.end-department{
  text-align:center;
  width:15%;
}
.porter{
  text-align:center;
  width:15%;
}
.porter-position{
  text-align: center;
  width:15%
}
.mission-status-1{
  background-color:red;
  color:white;
}
.mission-status-2{
  background-color:blue;
  color:white;
}
.mission-status-3{
  background-color:green;
  color:white;
}
.mission-status-4{
  background-color:gray;
  color:white;
}
