<h1 mat-dialog-title class="mat-dialog-title primary-background">新增傳送員</h1>
<div mat-dialog-content class="mission-content">
  <form class="example-form">

    <mat-form-field class="example-full-width">
      <mat-label class="darker-font">帳號(電話)</mat-label>
      <input class="dark-font primary-background" matInput [(ngModel)]="porterInformation.mobile"
        [ngModelOptions]="{standalone:true}" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label class="darker-font">姓名</mat-label>
      <input class="dark-font primary-background" matInput [(ngModel)]="porterInformation.name"
        [ngModelOptions]="{standalone:true}" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label class="darker-font">密碼</mat-label>
      <input type=password class="dark-font primary-background" matInput [(ngModel)]="porterInformation.password"
        [ngModelOptions]="{standalone:true}" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label class="darker-font">確認密碼</mat-label>
      <input type=password class="dark-font primary-background" [(ngModel)]="secondPassword"
        [ngModelOptions]="{standalone:true}" matInput required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label class="darker-font">Tag編號</mat-label>
      <input class="dark-font primary-background" matInput [(ngModel)]="porterInformation.tag"
        [ngModelOptions]="{standalone:true}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label class="darker-font">生日</mat-label>
      <input type=date class="dark-font primary-background" matInput [(ngModel)]="porterInformation.birthday"
        [ngModelOptions]="{standalone:true}">
    </mat-form-field>
  </form>
  <span class="text darker-font">性別</span>
  <div>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="text example-radio-group"
      [(ngModel)]="porterInformation.gender">
      <mat-radio-button class="example-radio-button" *ngFor="let gender of genders" [value]="gender.id">
        {{gender.name}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <span class="text darker-font">類型</span>
  <div>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="text example-radio-group "
      [(ngModel)]="porterInformation.type">
      <mat-radio-button class="example-radio-button" *ngFor="let type of porterTypes" [value]="type.id">
        {{type.name}}
      </mat-radio-button>
      <div>
        <app-select-department *ngIf="porterInformation.type==2"
          (selectDepartmentEvent)="getSelectDepartmentId($event)">
        </app-select-department>
      </div>
    </mat-radio-group>
  </div>


</div>

<div mat-dialog-actions>
  <button mat-button class="button primary-background" (click)="addPorter()">確定</button>
  <button mat-button mat-dialog-close class="button tertiary-background">取消</button>
</div>
