.mat-dialog-title{
  font-weight:bold;
  padding:10px;
}
.mission-content{
  font-size:larger;
  margin:5px;
}
.button{
  margin: auto;
  border-radius: 50px;
  border: 0px;
  outline:none;
  cursor: pointer;
}



::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #007B6D !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #007B6D !important;
}

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #007B6D !important;;
}

