<article class="article lighter-color">
  <h1 class="title department-id">使用者編號</h1>
  <h3 class="content department-id"> {{userId}}</h3>
  <h1 class="title department-id">使用者名稱</h1>
  <h3 class="content department-id"> {{userName}}</h3>
  <h1 class="title department-name ">單位名稱</h1>
  <h3 class="content department-name">{{information.department}}</h3>
  <h1 class="title department-password ">密碼</h1>
  <h3 type="password" class="content department-password">************
    <button mat-flat-button class="button dark-color">變更密碼</button>
  </h3>

</article>
