<div class="porter-article" [style.height]="articleHeight+'px'">
  <div class="article-left">
    <div class="function-bar">
      <span class="checkbox-container">
        <app-homepage-porter-checkbox (returnListEvent)="getCheckboxList($event)"></app-homepage-porter-checkbox>
      </span>
      <span class="button-container">
        <button mat-flat-button class="button update-list-button darker-color"
          (click)="updatePorterList()">更新列表</button>
        <button mat-flat-button class="button add-porter-button" (click)="addPorterDialog()">新增傳送員</button>
      </span>
    </div>
    <div class="porter-list-title lighter-color">
      <mat-checkbox class="porter-checkbox" [checked]="allPorterCheckStatus"
        (change)="setAllCheckboxStatus($event.checked)"></mat-checkbox>
      <span class="porter_name">姓名</span>
      <span class="porter-type">傳送類型</span>
      <span class="porter-status">人員狀態</span>
      <span class="porter-mission">任務數量</span>
      <span class="porter-position">最後停留時間</span>
      <span class="porter-time">最後停留位置</span>
    </div>
    <div class="porter-list">
      <div class="porter-list-content" id="porter_{{idx}}" *ngFor="let item of porterListFilter; let idx = index"
        (mouseenter)="getMouseEnter($event)" (click)="updatePorterDialog()">
        <mat-checkbox class="porter-checkbox" (click)="clickInnerCheckbox($event)"
          [(ngModel)]="porterListCheckStatus[idx]" (ngModelChange)="updateAllCheckboxStatus()"></mat-checkbox>
        <span class="porter_name">{{item.name}}</span>
        <span class="porter-type">{{item.type.name}}</span>
        <span class="porter-status porter-status-1" *ngIf="item.status ==1">{{item.status| porterStatus}}</span>
        <span class="porter-status porter-status-2" *ngIf="item.status ==2">{{item.status| porterStatus}}</span>
        <span class="porter-mission">(待完成) 件</span>
        <span class="porter-position">(待完成)</span>
        <span class="porter-time">(待完成)</span>
      </div>
    </div>
  </div>
  <div class="article-right light-color"></div>
</div>
