<h1 mat-dialog-title class="mat-dialog-title dark-color">修改任務</h1>
<div mat-dialog-content class="mission-content">
  <div class="text">任務編號: {{missionData.id}}</div>
  <div class="text">任務內容: {{missionData.content}}</div>
  <div class="text">任務類型: {{missionData.type}}</div>
  <div class="text">新增時間: {{missionData.add_time}}</div>
  <div class="text">派遣時間: {{missionData.dispatch_time}}</div>
  <div class="text">開始時間: {{missionData.start_time}}</div>
  <div class="text">完成時間: {{missionData.finish_time}}</div>
  <div class="text">傳送員: {{missionData.porter}}</div>
  <div class="text">交接QRcode: {{missionData.staff}}</div>
</div>
<div mat-dialog-actions>
  <button mat-button class="button delete-mission-button" (click)="deleteMissionDialog()">刪除</button>
  <button mat-button mat-dialog-close class="button light-color">關閉</button>
</div>
