<div class="function-bar">
  <div class="button-container">
    <button mat-flat-button class="button update-list-button secondary-background white-font" (click)="getMissionLabelList()">更新列表</button>
    <button mat-flat-button class="button add-mission-type-button white-font" (click)="addMissionTypeDialog()">新增任務標籤</button>
  </div>
</div>
<div class="mission-type-list-title warning-background white-font">
  <span class="mission-type-type">任務類型</span>
  <span class="mission-type-label">任務標籤</span>
  <span class="mission-type-class">運送類型</span>

</div>
<div class="mission-type-list">
  <div class="mission-type-list-content" id="missiontype_{{idx}}" *ngFor="let item of missionLabelList; let idx = index"
    (mouseenter)="getMouseEnter($event)" (click)="updateMissionTypeDialog()">
    <span class="mission-type-name">{{item.type.name}}</span>
    <span class="mission-type-transport" *ngIf="item.type.transport == 1">運人</span>
    <span class="mission-type-transport" *ngIf="item.type.transport == 2">運物</span>
    <span class="mission-label-name">{{item.name}}</span>
  </div>
</div>
