<button mat-flat-button class="function-button add-staff-button " (click)="openModal(template)">新增人員</button>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">新增人員</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>姓名<input type="box"></div>
    <div>職稱<input type="box"></div>
    <div><button type="button" class="btn btn-default" (click)="modalRef.hide()">確定</button></div>
  </div>
</ng-template>
