<button mat-flat-button class="function-button add-porter-button " (click)="openModal(template)">新增傳送員</button>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">新增傳送員</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>姓名<input type="box"></div>
    <div>帳號<input type="box"></div>
    <div>密碼<input type="box"></div>
    <div>確認密碼<input type="box"></div>
    <div>標籤編號<input type="box"></div>
    <div>傳送員類型<input type="box"></div>
    <div>生日<input type="box"></div>
    <div>性別<input type="box"></div>
    <div><button type="button" class="btn btn-default" (click)="modalRef.hide()">確定</button></div>
  </div>
</ng-template>
