<div class="function-bar">
  <div class="button-container">
    <button mat-flat-button class="button update-list-button secondary-background"
      (click)=" updateDepartmentList()">更新列表</button>
    <button mat-flat-button class="button add-department-button" (click)="addDepartmentDialog()">新增單位</button>
  </div>
</div>
<div class="department-list-title warning-background white-font">
  <span class="department-building">大樓名稱</span>
  <span class="department-floor">樓層</span>
  <span class="department-name">單位名稱</span>
</div>
<div class="department-list">
  <div class="department-list-content" id="department_{{idx}}" *ngFor="let item of departmentList; let idx = index"
    (mouseenter)="getMouseEnter($event)" (click)="updateDepartmentDialog()">
    <span class="department-building">{{item.building.name}}</span>
    <span class="department-floor">{{item.floor}}</span>
    <span class="department-name">{{item.name}}</span>
  </div>
</div>
