.header-container{
  height:10vh;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:linear-gradient(#91422D, #D19E5F);
}

.header-left{
  margin: auto 2vw;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.logo{
  width: 4vw;
}

.system-title{
  margin: auto 2vw;
  font-size: 2vw;
  text-align: center;
 font-weight:bold;
}

.header-right{
  margin: auto 2vw;
}
.header-button{
  padding: 2vw;
  font-size:1.5vw;
  cursor: pointer;

}
.header-button:hover{
  color:#91422D;
  font-weight:bold;
}
