<div class="header-container secondary-background" [style.height]="headerHeight+'px'">
  <span class="header-left">
    <img class="logo" src='/assets/img/logo1.png'>
    <span class="system-title tertiary-font">{{title}}-{{department}}</span>
  </span>
  <span class="header-right">
    <span (click)="switchToMission()" class="header-button  secondary-background tertiary-font">任務列表</span>
    <span (click)="switchToStaff()" class="header-button secondary-background tertiary-font">人員列表</span>
    <span (click)="switchToSetting()" class="header-button secondary-background tertiary-font">設定</span>
  </span>
</div>
