.header-container{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.header-left{
  margin: auto 20px;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.logo{
  width: 70px;
}

.system-title{
  margin: auto 20px;
  font-size: 30px;
  text-align: center;
 font-weight:bold;
}

.header-right{
  margin: auto 20px;
  max-width: 500px;
}
.header-button{
  padding: 20px;
  font-size:20px;
  cursor: pointer;

}
.header-button:hover{
  background-color:#A3C9D9;
  color:#517C8C;
  font-weight:bold;
}
