<h1 mat-dialog-title class="mat-dialog-title dark-color">指定人員</h1>
<div mat-dialog-content class="dialog-content">
  <div class="porter-title">
    <span class="text porter-name">姓名</span>
    <span class="text porter-mission">目前任務</span>
    <span class="text porter-position">目前位置</span>
  </div>

  <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" [(ngModel)]="porterId">
    <div class="porter-content" *ngFor="let item of porterList">
      <mat-radio-button class="radio-button" [value]="item.id"></mat-radio-button>
      <span class="text porter-name">{{item.name}}</span>
      <span class="text porter-mission">(待完成) 件</span>
      <span class="text porter-position">(待完成)</span>
    </div>
  </mat-radio-group>
</div>

<div mat-dialog-actions>
  <button mat-button class="button dark-color" (click)="manualDispatch()">確定</button>
  <button mat-button mat-dialog-close class="button light-color">取消</button>
</div>
