<div class="staff-article" [style.height]="articleHeight+'px'">
  <div class="article-left">
    <div class="function-bar">
      <div class="button-container">
        <button mat-flat-button class="button update-list-button secondary-background" (click)="getStaffList()">更新列表</button>
        <button mat-flat-button class="button print-qrcode-button tertiary-background" (click)="printQRcode()">列印QRcode</button>
        <button mat-flat-button class="button add-staff-button" (click)="addStaffDialog()">新增人員</button>
      </div>
    </div>
    <div class="staff-list-title warning-background">
      <mat-checkbox class="staff-checkbox" [checked]="allStaffCheckStatus"
        (change)="setAllCheckboxStatus($event.checked)"></mat-checkbox>
      <span class="staff-name">姓名</span>
      <span class="staff-handover">交接次數</span>
      <span class="staff-professional">職稱</span>
      <span class="staff-department">隸屬單位</span>
    </div>
    <div class="staff-list">
      <div class="staff-list-content" id="staff_{{idx}}" *ngFor="let item of staffList; let idx = index"
        (mouseenter)="getMouseEnter($event)" (click)="updateStaffDialog()">
        <mat-checkbox class="staff-checkbox" (click)="clickInnerCheckbox($event)"
          [(ngModel)]="staffListCheckStatus[idx]" (ngModelChange)="updateAllCheckboxStatus()"></mat-checkbox>
        <span class="staff-name">{{item.name}}</span>
        <span class="staff-handover">{{item.handover}} 件</span>
        <span class="staff-professional">{{item.professional}}</span>
        <span class="staff-department">{{item.department.floor}}-{{item.department.name}}</span>
      </div>
    </div>
  </div>

  <div class="article-right tertiary-background"></div>
</div>
